<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<form id="html_form" action="insert" role="form" method="post">
			<div id="confirmed-transactions-list">
				<table class="table">
					<thead>
						<tr><th scope="colgroup" colspan="8">Confirmed transactions</th></tr>
						<tr>
							<th scope="col">Pet ID</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
							<th scope="col">Cost</th>						
							<th scope="col">Transfer type</th>
							<th scope="col">Payment method</th>
							<th scope="col">Review</th>
							<th scope="col">Rate</th>												
							<th scope="col"><!-- View transaction --></th>
						</tr>
					</thead>
					<tbody>
					<% for (var i=0; i<confirmed_transactions.length; i++) { %>
						<tr>
							<td><%=confirmed_transactions[i].pet_id%></td>
							<td><%=confirmed_transactions[i].s_date%></td>
							<td><%=confirmed_transactions[i].e_date%></td>
							<td><%=confirmed_transactions[i].cost%></td>
							<td><%=confirmed_transactions[i].transfer_type%></td>
							<td><%=confirmed_transactions[i].payment_type%></td>
							<td><%=confirmed_transactions[i].review%></td>
							<td><%=confirmed_transactions[i].rate%></td>
							<td><a href="/test"><button class="btn btn-secondary">View request</button></a></td>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>
			<div id="pending-transactions-list">
				<table class="table">
					<thead>
						<tr><th scope="colgroup" colspan="8">Pending transactions</th></tr>
						<tr>
							<th scope="col">Pet ID</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
							<th scope="col">Cost</th>						
							<th scope="col">Transfer type</th>
							<th scope="col">Payment method</th>
							<th scope="col"><!-- Accept transaction --></th>
							<th scope="col"><!-- Decline transaction --></th>
						</tr>
					</thead>
					<tbody>
					<% for (var i=0; i<pending_transactions.length; i++) { %>
						<tr>
							<td><%=pending_transactions[i].pet_id%></td>
							<td><%=pending_transactions[i].s_date%></td>
							<td><%=pending_transactions[i].e_date%></td>
							<td><%=pending_transactions[i].cost%></td>
							<td><%=pending_transactions[i].transfer_type%></td>
							<td><%=pending_transactions[i].payment_type%></td>
							<td><button type="submit" class="btn btn-primary" formaction="<%=userid%>/<%=pending_transactions[i].pet_id%>/<%=pending_transactions[i].s_date%>/accept">Accept</button></td>
							<td><button type="submit" class="btn btn-primary" formaction="<%=userid%>/<%=pending_transactions[i].pet_id%>/<%=pending_transactions[i].s_date%>/decline">Decline</button></td>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>		
		</form>
  </body>
</html>