<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Summary Info</h1>

<table border="1" cellpadding="15" >
    <tr>
        
        <th>Pet_id</th>
        <th>date</th>
        <th>CareTaker_id</th>
        <th>cost</th>
        <th>rate</th>
        <th>review</th>
        <th>status</th>
    </tr>
    <%
        for(let i=0;i<res.length;i++){
    %>
    <tr>
        <td>
            <%=res[i].pet_id%>
        </td>
        <td>
            <%=res[i].s_date%>
        </td>
        <td>
            <%=res[i].ct_id%>
        </td>
        <td>
            <%=res[i].cost%>
        </td>
        <td>
            <%=res[i].rate%>
        </td>
        <td>
            <%=res[i].review%>
        </td>
        <td>
            <%=res[i].status%>
        </td>
        
        
    </tr>
    <%
    }
    %>
    </table>
</body>
</html>