<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </head>
  <body>
  	<h1><%=title%> of <%=ct.userid%></h1>
	<a href="../../all_caretakers"><button type="button" class="btn btn-secondary">Back</button></a>
	<div id="info">
		<p><b>User ID: </b><%=ct.userid%></p>
		<p><b>Name: </b><%=ct.name%></p>
		<p><b>Gender: </b><%=ct.gender%></p>
		<p><b>Address: </b><%=ct.address%></p>
		<p><b>Type of contract: </b><%=ct.type%></p>
		<p><b>Average rating: </b><%=Math.round(ct.rating * 10) / 10%></p>
		<p>
			<b>Good at taking care of: </b>
			<% for (var i=0; i<pcs.length; i++) { %>
				<span><%=pcs[i].category%></span>
			<% } %>
		</p>
	</div>
  	<div id="transactions">
		<table class="table">
			<thead>
				<tr><th scope="colgroup" colspan="7"><%=table===1 ? 'All transactions involved' : 'All transactions with me' %></th></tr>
				<tr>
					<th scope="col">Pet ID</th>
					<th scope="col">Start date</th>
					<th scope="col">End date</th>
					<th scope="col">Rate</th>
					<th scope="col">Review</th>
					<th scope="col">Pet Category</th>
					<th scope="col"><%=table===1 ? 'Pet Owner' : 'Status' %></th>
				</tr>
			</thead>
			<%var getString = (date) => date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate(); %>
			<tbody>
			<% for (var i=0; i<transactions.length; i++) { %>
				<tr>
					<td><%=transactions[i].petid%></td>
					<td><%=getString(transactions[i].s_date)%></td>
					<td><%=getString(transactions[i].e_date)%></td>
					<td><%=transactions[i].rate%></td>
					<td><%=transactions[i].review%></td>
					<td><%=transactions[i].category%></td>
					<td><%=table===1 ? transactions[i].owner : transactions[i].status %></td>
				</tr>
			<% } %>
			</tbody>
		</table>
	</div>
  </body>
</html>